# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Socket Programming Intro/nbproject/private/
/Socket Programming Intro/BankServer/nbproject/private/
/Socket Programming Intro/BankClient/nbproject/private/
/Socket Programming Intro/BankServer/build/
/Socket Programming Intro/BankClient/build/
/Socket Programming Intro/AdminAccess/nbproject/private/
/Socket Programming Intro/Knock_Client/nbproject/private/
/Socket Programming Intro/Knock_Server/nbproject/private/
/Knock-Knock and Port scanner/Knock-Knock/Knock_Server/build/
/Knock-Knock and Port scanner/Knock-Knock/Knock_Client/build/
/Knock-Knock and Port scanner/Port_Scanner/nbproject/private/
/Knock-Knock and Port scanner/Port_Scanner/build/